*{font-family:'Helvetica-Neue-Ultralite',Helvetica;font-weight:300}
body{overflow:hidden;padding:0;margin:0;background:#82a4b3}
ul,li{padding:0;margin:0;list-style:none}
#background{width:100%;right:0;position:absolute;top:0;background:#a6c0d7;height:100%}
header{color:#fff;position:fixed;top:0;width:100%;z-index:1;text-align:center;margin:25px 0 0 15%;-webkit-perspective:700;-webkit-transform:scale(1.4);}
header nav{width:200%;margin:20px auto;text-align:center;-webkit-transform:rotateY(40deg);-webkit-transform-origin:0 0;}
header nav div.option{width:150px;float:left;position:relative;top:4px;z-index:4;-webkit-transition:all .2s ease-in-out;}
header nav div.option .top{background-position:50% -35%;background-size:32%}
header nav div.option .front{background-position:50% 119%;background-size:32%}
header nav div.option .venue{background-image:url("/images/venue.png");background-repeat:no-repeat}
header nav div.option .shuttle{background-image:url("/images/shuttle.png");background-repeat:no-repeat;}
header nav div.option .shuttle.top{background-position:50% 13%;background-size:42%}
header nav div.option .shuttle.front{background-position:50% 103%;background-size:42%}
header nav div.option .social{background-image:url("/images/social.png");background-repeat:no-repeat;}
header nav div.option .social.top{background-position:50% 12%;background-size:42%}
header nav div.option .social.front{background-position:50% 127%;background-size:42%}
header nav div.option .updates{background-image:url("/images/updates.png");background-repeat:no-repeat;background-size:40%;}
header nav div.option .updates.top{background-position:50% -10%}
header nav div.option .updates.front{background-position:50% 84%}
header nav div.option .trending{background-image:url("/images/trending.png");background-repeat:no-repeat;}
header nav div.option .trending.top{background-position:50% -36%}
header nav div.option .trending.front{background-position:50% 117%}
header nav div.option .map{background-image:url("/images/map.png");background-repeat:no-repeat;background-size:50%;}
header nav div.option .map.top{background-position:48% -14%}
header nav div.option .map.front{background-position:50% 109%}
header nav div.option .info{background-image:url("/images/info.png");background-repeat:no-repeat;background-size:45%;}
header nav div.option .info.top{background-position:50% -5%}
header nav div.option .info.front{background-position:50% 117%}
header nav div.option.selected .box.logo{-webkit-transform:rotateY(1deg) rotateX(-351deg) rotateZ(0)}
header nav div.option.selected .title{color:#c05139;text-shadow:0 0 1px #000}
header nav div.option.selected .box{-webkit-transform:rotateY(23deg) rotateX(-408deg)}
header nav div.option.selected .top{background-color:#f69460}
header nav div.option.selected .front{background-color:#562711}
header nav div.option.selected .venue{background-image:url("/images/venue-active.png");background-repeat:no-repeat}
header nav div.option.selected .shuttle{background-image:url("/images/shuttle-active.png");background-repeat:no-repeat}
header nav div.option.selected .social{background-image:url("/images/social-active.png");background-repeat:no-repeat}
header nav div.option.selected .updates{background-image:url("/images/updates-active.png");background-repeat:no-repeat}
header nav div.option.selected .trending{background-image:url("/images/trending-active.png");background-repeat:no-repeat}
header nav div.option.selected .info{background-image:url("/images/info-active.png");background-repeat:no-repeat}
header nav div.option.selected .map{background-image:url("/images/map-active.png");background-repeat:no-repeat}
header nav .logo{background:url("/images/logo.png") 0 0 no-repeat;-webkit-transform:rotateY(0) rotateX(0) rotateZ(0);left:-18px;height:100px;background-size:95%;width:175px;top:-1px}
header nav div.options{margin-left:150px}
header nav div.title{color:#505359;position:absolute;z-index:5;font-size:2.2em;font-family:Georgia;font-style:italic;text-align:center;width:100%;-webkit-transition:all .5s ease-in-out}
#kiosk{text-align:center;overflow:hidden;z-index:10;-webkit-transition:-webkit-transform 2.5s ease-in-out;}
#kiosk .slide{height:100%;max-height:100%;width:100%;display:block;float:left;margin-top:215px;z-index:10;}
#kiosk .slide .content{width:80%;height:80%;margin:0 auto;}
#kiosk .slide .content iframe{width:100%;height:100%;margin:0 auto;box-shadow:13px 13px 0 rgba(246,149,97,0.4);border:20px solid #fff}
#kiosk .slide .content .image{width:100%;z-index:10}
#kiosk .slide .content h2.sub{font-style:italic}
#kiosk .slide.visible{opacity:1}
#kiosk [slide-type="schedule"] ul{margin-top:5px;}
#kiosk [slide-type="schedule"] ul li{border-bottom:1px solid #333;padding:10px 0;overflow:hidden;}
#kiosk [slide-type="schedule"] ul li .event-cell{padding:5px 15px 5px 5px;max-width:33%;float:left;text-align:left}
#kiosk [slide-type="schedule"] ul li .event-name{font-size:1.2em;font-style:italic;max-width:40%;word-wrap:break-word}
#kiosk [slide-type="schedule"] ul li.header{background:#ccc;text-align:center}
#kiosk [slide-type="image"],#kiosk [slide-type="url"],#kiosk [slide-type="updates"],#kiosk [slide-type="venue"]{background:transparent}
#kiosk #maps{float:right;width:50%;}
#kiosk #maps .map{float:right;background:#fff;margin:5px;padding:10px;border-radius:5px;box-shadow:10px 12px 0 rgba(246,149,97,0.4);}
#kiosk #maps .map img{width:100%}
#kiosk #events-list{width:48%;float:left;}
#kiosk #events-list li{overflow:hidden}
#kiosk #events-list li.header{margin-top:20px;}
#kiosk #events-list li.header .tab{margin-bottom:5px;float:right}
#kiosk #events-list li.header:first-child{margin-top:5px}
#kiosk #events-list li.event{color:#693d28;font-size:1.3em;text-shadow:2px 2px 0 #bbe7f6;padding:5px 0;margin-bottom:5px;text-align:right;}
#kiosk #events-list li.event .event-name,#kiosk #events-list li.event .room{padding:2px 5px}
#kiosk #events-list li.event .room{font-style:italic}
.container{width:157px;height:75px;position:relative;top:-5px}
.box{width:100%;height:100%;position:absolute;z-index:1;-webkit-transform-style:preserve-3d;-webkit-transform:rotateY(23deg) rotateX(-46deg);-webkit-transition:all .5s ease-in-out;left:-44px}
.box figure{display:block;position:absolute}
.box .front,.box .back{width:157px;height:50px}
.box .top,.box .bottom{width:157px;height:50px}
.box .front{background-color:#313a41;-webkit-transform:rotateY(0) translateZ(24px)}
.box .back{-webkit-transform:rotateX(180deg) translateZ(24px)}
.box .top{background-color:#505359;-webkit-transform:rotateX(90deg) translateZ(26px)}
.box .bottom{-webkit-transform:rotateX(-90deg) translateZ(26px)}
#announcement-bubbles{overflow:hidden}
.bubble{background:#fff;color:#ee634b;padding:30px 35px;min-width:38%;box-shadow:10px 12px 0 rgba(246,149,97,0.4);margin:10px 15px 60px 10px;position:relative;float:left;text-align:left;max-width:20%;}
.bubble.drop{background:#fff}
.bubble:before{content:"";position:absolute;bottom:-47px;left:32px;border-width:0 0 35px 35px;border-style:solid;border-color:transparent rgba(246,149,97,0.4)}
.bubble:after{content:"";position:absolute;bottom:-40px;left:20px;border-width:0 0 40px 40px;border-style:solid;border-color:transparent #fff}
.bubble.main{width:90%;max-width:100%}
.bubble .headline{font-size:2.5em;font-family:Georgia;margin:10px 0}
.bubble .text{font-family:Arial,sans;color:#ee624b;margin:20px 0;font-size:1.2em;line-height:1.2em}
.bubble .timestamp{text-align:right;font-size:11px;font-style:italic;margin:10px 0}
.stripes{background-color:#ef6b32;background-image:-webkit-gradient(linear,0 0,100% 100%,color-stop(.25,rgba(255,255,255,0.2)),color-stop(.25,transparent),color-stop(.5,transparent),color-stop(.5,rgba(255,255,255,0.2)),color-stop(.75,rgba(255,255,255,0.2)),color-stop(.75,transparent),to(transparent));background-image:-webkit-linear-gradient(-45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);background-image:-moz-linear-gradient(-45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);background-image:-ms-linear-gradient(-45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);background-image:-o-linear-gradient(-45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);background-image:linear-gradient(-45deg,rgba(255,255,255,0.2) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0.2) 75%,transparent 75%,transparent);-webkit-background-size:20px 20px}
.vertical-stripes{background-color:#ef6b32;background-image:-webkit-gradient(linear,0 0,100% 0,color-stop(.5,rgba(255,255,255,0.2)),color-stop(.5,transparent),to(transparent));background-image:-webkit-linear-gradient(0,rgba(255,255,255,0.2) 50%,transparent 50%,transparent);background-image:-moz-linear-gradient(0,rgba(255,255,255,0.2) 50%,transparent 50%,transparent);background-image:-ms-linear-gradient(0,rgba(255,255,255,0.2) 50%,transparent 50%,transparent);background-image:-o-linear-gradient(0,rgba(255,255,255,0.2) 50%,transparent 50%,transparent);background-image:linear-gradient(0,rgba(255,255,255,0.2) 50%,transparent 50%,transparent);-webkit-background-size:20px 20px}
.arrow{-webkit-transform:rotateZ(45deg);height:50px;width:50px;position:absolute;left:-50px;top:5px;border:5px solid #fff;border-right:0;border-top:0}
.tab{color:#fff;text-shadow:3px 3px 1px #be5429;width:200px;max-width:250px;position:relative;background:url("/images/time-arrow.png") 0 0 no-repeat;background-size:100%;}
.tab .text{font-family:Georgia;padding:3px 14px 18px 34px;font-size:2.4em}
#scene{width:100%;display:none;}
#scene section.skyline{background:url("/images/skyline.png") 0 80% no-repeat;background-repeat:repeat-x;height:100%;width:100%;position:absolute;bottom:0;z-index:-1;-webkit-transition:-webkit-transform 2s linear}
#scene section.crowd{background:url("/images/crowd.png") 0 90% no-repeat;background-repeat:repeat-x;height:100%;width:100%;position:absolute;bottom:0;z-index:-1;-webkit-transition:-webkit-transform 2s linear}
#scene section.characters{z-index:100000;position:absolute;bottom:0;-webkit-transition:-webkit-transform 2s linear;}
#scene section.characters .character{height:100%;width:100%;float:left;display:block;}
#scene section.characters .character.texter{background:url("/images/texter.png") 100% 100% no-repeat}
#scene section.characters .character.walker{background:url("/images/walker.png") 100% 100% no-repeat}
#scene section.characters .character.dancer{background:url("/images/dancer.png") 100% 100% no-repeat}
#scene section.characters .character.friends{background:url("/images/friends.png") 100% 100% no-repeat}
#scene section.characters .character.van{background:url("/images/van.png") 100% 100% no-repeat}
#scene section.characters .character.instagrammer{background:url("/images/instagrammer.png") 100% 100% no-repeat}
#scene section.characters .character.tumbleweed{background:url("/images/tumbleweed.png") 100% 100% no-repeat}
#scene section.characters .character.hydrant{background:url("/images/hydrant.png") 100% 100% no-repeat}
