*{font-family:'Helvetica-Neue-Ultralite',Helvetica;font-weight:300}
body{overflow:hidden;padding:0;margin:0}
ul,li{padding:0;margin:0;list-style:none}
#background{width:100%;right:0;position:absolute;top:0;background:#a6c0d7;height:100%}
header{overflow:hidden;color:#fff;position:fixed;top:0;width:100%;z-index:1;text-align:center;}
header nav{width:80%;overflow:hidden;margin:0 auto;text-align:center;}
header nav div.option{height:75px;width:157px;float:left;position:relative;margin-right:5px;}
header nav div.option div.top{background-color:#505359;height:52%;width:100%;z-index:1;-webkit-transform:skew(20deg);}
header nav div.option div.top.selected{background-color:#f69561}
header nav div.option div.bottom{background-color:#313a41;height:48%;width:100%;z-index:1;-webkit-transform:skew(-20deg);}
header nav div.option div.bottom.selected{background-color:#5e220a}
header nav div.option div.icon{position:absolute;top:0;height:100%;width:100%;z-index:2;margin:0 auto}
header nav div.logo{height:75px;width:157px;float:left;background:url("/images/menu-1.png") 0 0 no-repeat}
header nav div.shuttle div.icon{background:url("/images/menu-2.png") 0 0 no-repeat}
header nav div.events div.icon{background:url("/images/menu-3.png") 0 0 no-repeat}
header nav div.updates div.icon{background:url("/images/menu-4.png") 0 0 no-repeat}
#kiosk{-webkit-transition:all .5s ease-in-out;text-align:center;overflow:hidden;}
#kiosk .slide{height:100%;max-height:80%;width:100%;display:block;float:left;margin-top:85px;}
#kiosk .slide .content{width:80%;height:100%;margin:0 auto;}
#kiosk .slide .content iframe{width:75%;height:100%;margin:0 auto}
#kiosk .slide .content .image{height:100%;width:100%}
#kiosk .slide .content h2.sub{font-style:italic}
#kiosk .slide .content .map{width:100%;height:250px;overflow:hidden;}
#kiosk .slide .content .map img{width:75%}
#kiosk [slide-type="schedule"] ul{margin-top:5px;}
#kiosk [slide-type="schedule"] ul li{border-bottom:1px solid #333;padding:10px 0;overflow:hidden;}
#kiosk [slide-type="schedule"] ul li .event-cell{padding:5px 15px 5px 5px;max-width:33%;float:left;text-align:left}
#kiosk [slide-type="schedule"] ul li .event-name{font-size:1.2em;font-style:italic;max-width:40%;word-wrap:break-word}
#kiosk [slide-type="schedule"] ul li.header{background:#ccc;text-align:center}
#kiosk [slide-type="image"],#kiosk [slide-type="url"],#kiosk [slide-type="updates"],#kiosk .slide.visible{opacity:1}
