*
	font-family:'Helvetica-Neue-Ultralite', Helvetica
	font-weight:300
body
	overflow:hidden
	padding:0
	margin:0
ul, li
	padding:0
	margin:0
	list-style:none;
header
	overflow:hidden
	background:#666
	color:#fff
	position:fixed
	top:0
	width:100%
	z-index:1
	#sxsw-logo
		float:left;
		padding:10px
		border-right:1px solid #333
	nav
		ul
			li
				padding:10px
				float:left;
				border-right:1px solid #333
			li.selected
				background:#fff
				color:#000			
#background
	width:100%;
	right:0
	position:absolute;
	top:0;
	background:rgba(166,192,215,1)
	height:100%

#kiosk
	-webkit-transition:all 0.5s ease-in-out
	text-align:center;
	overflow hidden
	.slide 
		height:100%
		width:100%
		margin:0 auto;
		display:block
		padding-top:18px
		iframe
			width:100%;
			height:100%;
		.image
			height:100%;
	.slide.visible
		opacity:1


